aws_region       = "eu-north-1"
environment      = "prod"
instance_type    = "t3.micro" # AWS Free Tier eligible (750 hours/month)
key_name         = "my-ec2-keypair"
allowed_ssh_cidr = "0.0.0.0/0" # Replace with your IP for enhanced security
ami_id           = "ami-0aba19e56f3eaec05" # Ubuntu Server 26.04 LTS (amd64)


